$background_color: #161616;
$primary_bg:#222222;
$secondary_bg:#2F281B;
$tartiary_bg:#2c2c2c;
$icon_color:#ffffff;
$icon_font-size: 12px;
$border_color: rgb(75, 75, 75);
$icon_active_color: rgb(255, 0, 0);